@media screen and (max-width: 1200px) {

    .monkey .monkey-title {
        text-align: right;
    }

    .sky {
        height: 800px;
    }

    .wolf .wolf-content p {
        margin: 0 auto;
        text-align: center;
        width: 400px;
        background-color: rgba(22, 2, 32, .6);
        color: #fff;
        padding: 10px;
        border-radius: 5px;
    }

    .monkey-title h2 {
        color: #983898;
    }

    .monkey .monkey-title p {
        color: #c00;
    }
}

@media screen and (max-width: 992px) {
    .header {
        height: 700px;
    }

    .moon {
        width: 100px;
    }

    #footer {
        background-position: center;
    }
}

@media screen and (max-width: 768px) {

    .wolf-title h1 {
        font-size: 25px;;
    }

    .header nav {
        display: none;
    }

    .monkey-content p {
        padding-top: 20px;
    }

    .wolf .wolf-content p {
        margin: 0 auto;
        width: 300px;
    }

    .header .moon {
        width: 100px;
    }

    .monkey .monkey-title {
        text-align: center;
        display: flex;
        color: #fff;
    }

    .monkey-content p {
        width: 500px;
        margin: 0 auto;
    }

    #footer .description {
        width: 400px;
    }
}

@media screen and (max-width: 640px) {
    .wolf-title h1 {
        padding-top: 50px;
    }
}

@media screen and (max-width: 400px) {
    .header {
        height: 400px;
    }
    .header nav {
        opacity: 0;
    }

    .header .moon {
        width: 60px;
        top: 90%;
    }

    .wolf-title h1 {
        padding-top: 50px;
    }

    .wolf .wolf-content p {
        margin: 0 auto;
    }

    #footer .overlay .footer-title {
        width: 100%;
    }

    #footer .overlay .container {
        width: 100%;
    }

    .wolf .wolf-content p,
    .monkey .monkey-content p {
        width: 100%;
        margin: 0 auto;
    }

    #footer .overlay .description {
        width: 100%;
    }

    #footer .overlay form {
        width: 100%;
    }

    #footer .overlay input {
        padding: 5px;
    }

    #footer .overlay button {
        padding: 5px;
    }
}