@import url("../css/fonts.css");
@import url("../css/reset.css");
@import url("../css/responsive.css");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Karla;
    line-height: 2;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in;
}

/* Start Header */
.header {
    width: 100%;
    height: 100vh;
    position: relative;
}

header nav {
    width: 100%;
    position: absolute;
    top: 3%;
    z-index: 1;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 2px;
    padding: 0 20px;
}

header nav ul li a {
    color: #fff;
    font-size: 20px;
}

header nav ul li a:hover {
    color: #c00;
}

.sky {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.moon {
    width: 150px;
    position: absolute;
    top: 80%;
    left: 47%;
}

.for {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -1px;
}

/* End  Header */

/* Start Wolf Section */

.wolf {
    background-image: url("../images/wolf.svg");
}

.wolf,
.monkey {
    height: 1000px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}

.wolf-title {
    width: 100%;
    color: #fff;
    text-align: center;
}

.wolf-title h1 {
    font-size: 50px;
    font-weight: bolder;
}

.wolf-title p {
    font-size: 26px;
    margin-top: 20px;
    font-family: MontserratMedium;
}

.wolf-content {
    display: flex;
}

.wolf-content p {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    color: #983898;
}

/* End Wolf Section */

/* Start Monkey Section */

.monkey {
    background-image: url("../images/monkeytwo.svg");
}

.monkey-title {
    width: 100%;
    text-align: center;
    display: flex;
}

.monkey-title h2 {
    font-size: 38px;
    font-weight: bold;
}

.monkey-title p {
    font-size: 20px;
    font-family: MontserratMedium;
    color: #983898;
    font-weight: bolder;
}

.monkey-content {
    color: #fff;
    text-align: center;
    padding: 20px;
}
/* End Monkey Section */

/* Start Footer */
#footer {
    background-image: url("../images/lionbg.svg");
    background-size: cover;
    display: flex;
    background-position: center center;
}

.overlay {
    background-color: rgba(22, 2, 31, .918);
    width: 100%;
    height: 100%;
    padding: 80px 0;
    display: flex;
}

.footer-title {
    color: #fff;
    text-align: center;
}

.footer-title h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 900;
}

.footer-title p {
    font-size: 18px;
    font-family: MontserratMedium;
}

#footer form {
    width: 420px;
    margin: 60px auto;
    text-align: center;
}

#footer form input {
    width: 100%;
    margin: 7px 0;
    padding: 10px;
    font-family: PlayfairDisplay;
    border-radius: 5px;
    outline: none;
    border: none;
}

#footer form button {
    width: 200px;
    padding: 10px;
    text-align: center;
    font-family: PlayfairDisplay;
    transition: all .3s ease-in;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 7px;
    font-size: 20px;
}

#footer form button:hover {
    background-color: rgb(74, 11, 126);
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
}

.description {
    width: 500px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    font-family: MontserratMedium;
}

.social {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.social ul {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.social ul li a {
    color: #fff;
    font-size: 22px;
}

/* End Footer */
