:root {
    --primary-font: 'IRANSans';
    --primary-color: #1B2B82;
    --primary-color1: #1F57B9;
    --primary-color2: #14A0B5;
    --pink-color: #CA5976;
    --secondry-color: #F8C309;
    --white-color1: #fff;
    /*--white-color2: #E0E0E2;*/
    --dark-color: #423940;
    --light-color: #8E8E92;
    /*--blue-color: rgba(۱۱۱, ۱۲۸, ۲۴۷, 0.8);*/
}